# Object files
**/*.o
**/*.elf
**/*.d

# General project-specific ignores
build/*
agbcc
tools/agbcc/*
*.gba
*.sav
*.dump
*.bps
*.reapeaks
*.Identifier
.vscode/*
ctx.c

# devkitPro
install-devkitpro-pacman